{% extends 'base.html' %}
{% block title %}Edit Pet{% endblock %}
{% block content %}
<div class="container border border-dark rounded bg-light p-3 mt-5">
<h3 class="display-4 text-center">Edit a pet</h3>
<form method="POST">
{{ form.hidden_tag() }}
{% for field in form if field.widget.input_type != 'hidden' %}
<div class="form-group">
    {{field.label}}
    {{field(class_='form-control')}}
    {% for err in field.errors %}
    {{err}}
    {% endfor %}
</div>
{% endfor %}
<button class="btn btn-primary">Save</button> <a href="/" class="btn btn-danger">Cancel</a>
</form>
</div>
{% endblock%}